
main
{
    display: flex;
    flex-direction: row;
}

.horzRibbon
{
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.horzRibbon li
{
	padding: 10px;
}

#planArea
{
    overflow-x: auto;
    overflow-y: auto;
	padding-left: 1px;
	padding-right: 1px;
}

#courseDetails
{
    margin-left: auto;
    display: none;
    width: 150px;
}

#plannerTable
{
    border-collapse: collapse;
	
}

#plannerTable tbody tr
{
    width: max-content;
	
}

#plannerTable tbody td
{
    width: 120px;
    border: 1px solid gray;
}

#reqList li
{
	height: 35px /* .dragCatch height + 1 */
}

.dragCatch
{
	height: 34px; /* #reqList li height - 1 */
}

.dragCatch
{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course
{
    width: 108px;
    height: 22px;
    border: 1px solid #1100FF;

    display: flex;
    justify-content: center;
    align-items: center;
}

span.line
{
	display: inline-block;
}